#header{
	color:black;
	font-size:15px;
	font-family:"Futura";
}

#header #bar{
	margin:2rem;
}

#header #bar #infvis{
	font-size: 30px;
}

#header #bar #about{
	margin-top:1em;
}

#header #bar #portfolio{
	margin-top:1em;
}

#header #bar #contact{
	margin-top:1em;
}

#background {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
